<head>
  <style>
  .jumbotron {
  background-image: url("https://pakutaso.cdn.rabify.me/shared/img/thumb/TSURU170308-084.jpg?d=500");
  background-size: cover;
  background-position: center 60%;
}

  body {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}
.h6{
  font-size: 0.5px;
}


  </style>
</head>

<br>
<div>
  <div class="h1 text-primary">マイページ</div>
  <div class="h3"><%= @user.nickname %>さんの投稿一覧
</div><br>



<div container>
  <div class="row mx-2">
  <% @posts.each do |post| %>
    <div class="col-4 mb-4">
      <div class="card img-thumbnail">
        <%= image_tag post.image.to_s %>
        <div class="card-body px-2 py-3">
          <h5 class="card-title"><%= link_to post.title, post_path(post.id), class: "content__right__top--title" %></h5>
          <p class="card-text"><%= post.content%></p>
          <p class="mb-0"><%=link_to "のぞいてみる", post_path(post.id), class: "btn btn-success btn-sm"%>
        </div>
      </div>   
    </div>
    <% end %>
  </div>
ｆｆ
  

<!--<div container>
  <nav aria-label="...">
      <ul class="pagination ">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="前">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="次">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>-->
</body>

<header>
  <%= render 'shared/footer'%>
</header>
