<div class="form-group">
<%= @post.label :partner, 'パートナー名' %>
<%= @post.text_field :partner, class: 'form-control' %>
</div>
 
<div class="form-group">
<%= @post.label :title, 'タイトル' %>
<%= @post.email_field :title, class: 'form-control' %>
</div>

<div class="form-group">
<%= @post.label :content, 'コメント' %>
<%= @post.email_field :content, class: 'form-control' %>
</div>
 
 
</div>
 
</div>
 
<div class="al-c"><%= @post.submit '更新', class: 'btn btn-primary' %></div>