<head>
  <style>
  .jumbotron {
  background-image: url("https://pakutaso.cdn.rabify.me/shared/img/thumb/TSURU170308-084.jpg?d=500");
  background-size: cover;
  background-position: center 60%;
}

  body {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}
.h6{
  font-size: 0.5px;
}


  </style>
</head>


<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid  ">
      <h2 class="display-4 text-success font-weight-bold">もっと自慢しよう。</h1>
      <p class="lead font-weight-bold">自分の可愛いパートナー<br>そんなパートナーの最高の瞬間を<br>みんなに共有しよう！！<br><br>さあ、自慢しよう
      </p>
      <% if user_signed_in? %>
        <a href="/posts/new" class="text-light btn btn-success">投稿する！</a>
      <% else %>
        <a href="/users/sign_up" class="text-light btn btn-success">MyPartnerを使う</a>
      <% end %>
    </div>
</div>
</div>



<div container>
  <div class="row mx-2">
  <% @posts.each do |post| %>
    <div class="col-4 mb-4">
      <div class="card img-thumbnail">
        <%= image_tag post.image.to_s %>
        <div class="card-body px-2 py-3">
          <h5 class="card-title"><%= link_to post.title, post_path(post.id), class: "content__right__top--title" %></h5>
          <p class="card-text"><%= post.content%></p>
          <div class="h6 text-muted "><%= post.user.nickname %></div>
          <!--ユーザー名をクリックするとページに移行するようにしたい-->
          <p class="mb-0"><%=link_to "のぞいてみる", post_path(post.id), class: "btn btn-success btn-sm"%>
        </div>
      </div>   
    </div>
    <% end %>
  </div>

  <div>
    <%= paginate @posts %>
  </div>
<!--<div container>
  <nav aria-label="...">
      <ul class="pagination ">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="前">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="次">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>-->
</body>

<header>
  <%= render 'shared/footer'%>
</header>
