
<style>
  body {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}
</style>

こｋ

<body>

<div class="container">
<%= form_with model: @post, local: true do |form| %>
  <form action="http://localhost:3000/posts/create" method="post">
    <div class="form-group">
    <label for="partner">パートナー名</label>
    <%=form.text_field :partner, placeholder: :パートナー名, class: :form__partner %>
      
      <!--<input type="text" class="form-control" id="partner" placeholder="パーナー名">-->
    </div>
    <div class="form-group">
    <label for="title">タイトル</label>
    <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
      <!--<input type="text" class="form-control"  placeholder="タイトル">-->
    </div>
    <div class="form-group">
    <%= form.label :image, 'プロフィール画像' %>
    <%= form.file_field :image %>
      <!--<label for="file">ファイル（複数選択可）</label>
        <div id="file" class="input-group">
          <div class="custom-file">
            <input type="file" id="cutomfile" class="custom-file-input" name="cutomfile[]" multiple />
            <label class="custom-file-label" for="customfile" data-browse="参照">ファイル選択...</label>
          </div>
        <div class="input-group-append">
            <button type="button" class="btn btn-secondary reset">取消</button>
        </div>
      </div>-->
    </div>
    <div class="form-group h-200">
    <%= form.text_area :content, placeholder: :コメント, class: :form__text %>
      <label for="content">コメント</label>
      <!--<textarea class="form-control" id="content" rows="3" placeholder="コメントを入力してください"></textarea>-->
    </div>
    <% form.submit %>
    <button type="submit" class="btn btn-success">
      送信する
    </button>
  <% end %>
  </form>
  </div>
</body>

<footer>
  <%= render 'shared/footer'%>
</footer>


