
<style>
  body {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}
</style>



<body>

<div class="container">
<%= form_with model: @post, method: :post, local: true do |form| %>

    <div class="form-group">
    <label for="partner">パートナー名</label>
    <%=form.text_field :partner, placeholder: :パートナー名, class: :form__partner %>
    </div>
    <div class="form-group">
    <label for="title">タイトル</label>
    <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
    </div>
    <div class="form-group">
    <%= form.label :image, 'プロフィール画像' %>
    <%= form.file_field :image %>
    </div>
    <div class="form-group h-200">
    <%= form.text_area :content,  placeholder: :コメント, class: :form__text %>
      <label for="content">コメント</label>
    </div>
    <% form.submit %>
    <button type="submit" class="btn btn-success">
      送信する
    </button>
  <% end %>
  </form>
  </div>
</body>

<footer>
  <%= render 'shared/footer'%>
</footer>


