<!DOCTYPE html>
<html>
  <head>
    <title>Mypartner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <header>
    <style>
   {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}

h1 {
  background: linear-gradient(-45deg, rgba(0, 255, 76, 0.8), rgba(136, 255, 0, 0.8)) fixed, url(https://cdn.pixabay.com/photo/2016/01/19/17/41/friends-1149841__480.jpg) fixed;
  background-size: cover;
}

p {
  font-size: 20px;
  
}

</style>

<h1 class=" container-fluid display-5 text-light" >
   <%= link_to "My Partner", posts_path %>

  <div class="row  input-group">
    <input type="text" class="col-10 form-control" placeholder="検索ワードを入力して下さい">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-success mb-4 mr-5  ">検索</button>
    </span>

    <% if user_signed_in? %>
    <div class="col-2   dropdown display-5">
    <!-- 切替ボタンの設定 -->
    <button type="button" class="mb-4 btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    その他
    </button>
    <!-- ドロップメニューの設定 -->
    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
      <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %><br><br>
      <%= link_to "マイページ",edit_user_registration_path %>
    </div><!-- /.dropdown-menu -->
  </div><!-- /.dropdown -->
  </div>
  <% end %>
  
  
  <div class="display-5">
    <% if user_signed_in? %>
      <%= link_to"ログアウト", destroy_user_session_path, method: :delete, class: "text-light btn btn-success" %>
      <%= link_to"新規投稿", new_post_path, class: "text-light btn btn-success" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "text-light btn btn-success "%>
      <%= link_to"新規登録", new_user_registration_path, class: "text-light btn btn-success" %>
    <% end %>
  </div>
</h1>
  </header>
  <body>
    <%= yield %>
  </body>

<!--<footer>
  <footer>
  <div class="container-fluid bg-success mt-2">
    <div class="row">
      <div class="col-12 display-4 text-light font-weight-bold">
        Information
    </div>
    <div class="row">
      <div class="col text-light">
          Copyright ©2020 All rights reserved | This template is made with  by Colorlib
      </div>
    </div>
  </div>
</footer>-->

</html>
